<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Footer Column 1 -->
            <div class="footer__col">
                <!-- Logo -->
                <a href="./" class="footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="footer__logo-img" />
                </a>
                <p class="footer__desc">
                    Chúng tôi tự hào là nhà phân phối giày chính hãng uy tín tại Việt Nam. Với hơn 10 năm kinh nghiệm,
                    chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng nhất.
                </p>
            </div>

            <!-- Footer Column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Cửa hàng</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Xu Hướng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Bộ Sưu Tập</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Về Chúng Tôi</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Hỗ Trợ</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">FAQ</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính Sách Đổi Trả</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Hướng Dẫn Chọn Size</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Kiểm Tra Đơn Hàng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Column 4 -->
            <!-- Footer Column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Công ty</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Dịch vụ khách hàng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Đối tác</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Column 5 -->
            <div class="footer__col">
                <h3 class="footer__heading">Liên hệ</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Email</p>
                        <a href="mailto:contact@grocerymart.com" class="footer__link"> contact@velocita.com </a>
                    </li>
                    <li>
                        <p class="footer__label">Hotline</p>
                        <a href="tel:18009999" class="footer__link">18009999</a>
                    </li>
                    <li>
                        <p class="footer__label">Địa chỉ</p>
                        <p class="footer__text">117 Hai Bà Trưng, Bến Nghé, Quận 1, Hồ Chí Minh, Việt Nam</p>
                    </li>
                    <li>
                        <p class="footer__label">Giờ mở cửa</p>
                        <p class="footer__text">9:00 - 21:00, Thứ 2 - Chủ Nhật</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2025 VELOCITÀ. Tất cả quyền được bảo lưu.</p>

            <div class="footer__socials">
                <a href="#!" class="footer__social-link footer__social-link--facebook">
                    <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--youtube">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--twitter">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
                </a>
                <a href="#!" class="footer__social-link footer__social-link--linkedin">
                    <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
                </a>
            </div>
        </div>
    </div>
</div>
